################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/00_src/.vs/Study_0/v15
*.bmp
/output/Study_0
